<form class="form-horizontal">
<div class="form-group">
	<label for="sendname" class="col-sm-3 control-label text-right">用户名列表:</label>
	<div class="col-sm-9">
		<textarea type="text" id="sendname" class="form-control has-error" placeholder="Name"></textarea>
	</div>
</div>
<div class="form-group">
	<label for="sendtype" class="col-sm-3 control-label text-right">奖励类型:</label>
    <div class="col-sm-9">
		<select class="form-control" id="sendtype">
			
		</select>
	</div>
</div>
<div class="form-group">
	<label for="sendvalue" class="col-sm-3 control-label text-right">奖励值:</label>
	<div class="col-sm-9">
		<input type="text" id="sendvalue" class="form-control has-error" placeholder="Value">
	</div>
</div>
</form>

<script>
$(function(){
	$.ajax({
		type: "POST",
		url: "/dataset/get_rewardsetting",
		data: {page:0},
		dataType: "json",
		success: function(data){
			var html='';
			var jsons=eval(data);
            var json=JSON.parse(jsons.data[0].jsondata);
			for(i in json){
				html+="<option value='"+i+"'>name:"+json[i].name+" type:"+json[i].type+"</option>";
			}
			$('#sendtype').html(html);
		}
	});
});
</script>