<form class="form-horizontal">
<div class="form-group">
	<label for="rolename" class="col-sm-3 control-label text-right">角色名称:</label>
	<div class="col-sm-9">
		<input type="text" id="rolename" class="form-control has-error" placeholder="Name">
	</div>
</div>
<div class="form-group">
	<label for="inputName" class="col-sm-3 control-label text-right">角色权限项:</label>
	<div class="col-sm-9">
		<div id="tree" style="padding:8px;border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;"></div>
	</div>
</div>
<ul id="treewrap"></ul>
</form>

<script>
$(function(){
	$.ajax({
		type: "POST",
		url: "/authorization/get_role_one",
		data: {id:$('#myModal').attr("ids")},
		dataType: "json",
		success: function(data){
			var html='';
			var json=eval(data);
			treedata=createNode(json.all,0,json.one);
			var o = { showcheck: true
			//onnodeclick:function(item){alert(item.text);},        
			};
			o.data = treedata;                  
			$("#tree").treeview(o);
			$("#rolename").val(json.one[0].name);
		}
	}); 
	
	function createNode(obj,pid,one){
		var arr=[];
		var ones=one[0].rules;
		var one_arr=ones.split(",");
		for (var i in obj){
			if (obj[i].pid==pid && obj[i].rid-obj[i].lid==1){
				arr.push({"id" : "node-"+i,"text" : obj[i].name,"value" : obj[i].id,"showcheck" : true,complete : true,"isexpand" : false,"checkstate" : in_array(obj[i].id,one_arr)?1:0 ,"hasChildren" : false});
			}else if (obj[i].pid==pid && obj[i].rid-obj[i].lid>1){
				arr.push({"id" : "node-"+i,"text" : obj[i].name,"value" : obj[i].id,"showcheck" : true,complete : true,"isexpand" : false,"checkstate" : in_array(obj[i].id,one_arr)?1:0 ,"hasChildren" : true,"ChildNodes":createNode(obj,obj[i].id,one)});
			}
		}
		return arr;
	}
	function in_array(id,arr){
		for (var a in arr){
			if (arr[a]==id){
				return true;
			}
		}
		return false;
	}
});
</script>