<h1 class="page-header">统计信息-详情</h1>
<div class="table-responsive" style="width:92%;">
	<p>
		<!--<button class="btn btn-sm btn-default hide" type="button">Default</button>-->
		<!--<button class="btn btn-sm btn-primary" type="button" id="B_add">添加</button>-->
		<!--<button class="btn btn-sm btn-success hide" type="button">Success</button>-->
		<!--<button class="btn btn-sm btn-info" type="button" id="B_chpass">修改密码</button>-->
		<!--<button class="btn btn-sm btn-warning" type="button" id="B_update">修改</button>-->
		<!--<button class="btn btn-sm btn-danger" type="button" id="B_del">删除</button>-->
		<!--<button class="btn btn-sm btn-link hide" type="button">Link</button>-->
    </p>
	<div id="user" style="min-width: 410px; height: 600px; margin: 0 auto"></div>
</div>

<!--<nav class="text-left">
	<ul class="pagination" id="pageui">
		<li class="page-number disabled"><a href="javascript:void(0)"><<</a></li>
		<li class="page-number disabled" ><a href="javascript:void(0)"><</a></li>
		<li class="page-number active"><a href="javascript:void(0)">1</a></li>
		<li class="page-number"><a href="javascript:void(0)">2</a></li>
		<li class="page-number"><a href="javascript:void(0)">3</a></li>
		<li class="page-number"><a href="javascript:void(0)">4</a></li>
		<li class="page-number"><a href="javascript:void(0)">5</a></li>
		<li class="page-number"><a href="javascript:void(0)">></a></li>
		<li class="page-number"><a href="javascript:void(0)">>></a></li>
	</ul>
</nav>-->
<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" id="myModalBody">
				11111
			</div>
			<div class="modal-footer">
				<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="do" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

			

<script type="text/javascript">
var date=[<?php echo "'".implode("','",$date)."'"; ?>];
var today_data=[<?php foreach ($data as $v) { ?>{y:parseInt(<?php echo $v['today'] ?>),url:""},<?php } ?>];
var total_data=[<?php foreach ($data as $v) { ?>{y:parseInt(<?php echo $v['total'] ?>),url:""},<?php } ?>]

$('#user').highcharts({
    chart: {
        type: 'column'
    },
    title: {
        text: '<?php echo $name; ?>'
    },
    xAxis: {
        categories: date
    },
    yAxis: {
        min: 0,
        title: {
            text: '前天总量/当天增量'
        }
    },
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            cursor: 'pointer',
            events: {
                click: function(e) {
                    location.href = e.point.url;
                        //上面是当前页跳转，如果是要跳出新页面，那就用
                        //window.open(e.point.url);
                        //这里的url要后面的data里给出
                }
            }
        }
    },
    series: [{
        name: '今日增量',
        data: today_data,
        dataLabels: {
            enabled: true,
            rotation: 0,
            color: '#FFFFFF',
            align: 'center',
            format: '{point.y:.1f}', // one decimal
            y: 0, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }, {
        name: '前日总量',
        data: total_data,
        dataLabels: {
            enabled: true,
            rotation: 0,
            color: '#FFFFFF',
            align: 'center',
            format: '{point.y:.1f}', // one decimal
            y: 0, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }],
    
});
</script>