<div class="table-responsive">
	<p>
		<!--<button class="btn btn-sm btn-default hide" type="button">Default</button>-->
		<!--<button class="btn btn-sm btn-primary" type="button" id="B_add">激活</button>-->
		<?php if (in_array($rules_kv['Server-反激活'],$rules)){ ?><button class="btn btn-sm btn-success" type="button" id="active">激活</button><?php } ?>
		<!--<button class="btn btn-sm btn-info" type="button" id="B_chpass">修改密码</button>-->
		<!--<button class="btn btn-sm btn-warning" type="button" id="B_update">修改</button>-->
		<?php if (in_array($rules_kv['Server-反激活'],$rules)){ ?><button class="btn btn-sm btn-danger" type="button" id="reactive">反激活</button><?php } ?>
		<!--<button class="btn btn-sm btn-link hide" type="button">Link</button>-->
    </p>
	<table class="table table-striped table-hover" style="background-color:#cccccc;">
    <thead>
    <tr>
      <th><input type="checkbox" id="checkAll" name="btSelectAll"></th>
	  <th>server_type</th>
      <th>sid</th>
      <th>server_name</th>
      <th>service_ip</th>
      <th>active</th>
      <th>server_version</th>
      <th>port</th>
      <th>playerNum</th>
      <th>server_port</th>
      <th>server_ip</th>
    </tr>
    </thead>
    <tbody id="rules_data">
		<tr>
			<td class="bs-checkbox"><input type="checkbox" name="btSelectItem" data-index="#@sid@#"></td>
			<td>#@server_type@#</td>
			<td>#@sid@#</td>
			<td>#@server_name@#</td>
            <td>#@service_ip@#</td>
			<td>#@actived@#</td>
			<td>#@server_version@#</td>
            <td>#@port@#</td>
			<td>#@playerNum@#</td>
			<td>#@server_port@#</td>
            <td>#@server_ip@#</td>
		</tr>
    </tbody>
	</table>
</div>

<nav class="text-left">
	<ul class="pagination" id="pageui">
		<li class="page-number disabled"><a href="javascript:void(0)"><<</a></li>
		<li class="page-number disabled" ><a href="javascript:void(0)"><</a></li>
		<li class="page-number active"><a href="javascript:void(0)">1</a></li>
		<li class="page-number"><a href="javascript:void(0)">2</a></li>
		<li class="page-number"><a href="javascript:void(0)">3</a></li>
		<li class="page-number"><a href="javascript:void(0)">4</a></li>
		<li class="page-number"><a href="javascript:void(0)">5</a></li>
		<li class="page-number"><a href="javascript:void(0)">></a></li>
		<li class="page-number"><a href="javascript:void(0)">>></a></li>
	</ul>
</nav>
<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" id="myModalBody">
				11111
			</div>
			<div class="modal-footer">
				<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="do" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

			
<script>
function pages(num){
	$.ajax({
		type: "POST",
		url: "/dserver",
		data: {page:num},
		dataType: "json",
        beforeSend:loading,
		success: function(data){
			var html='';
			var page_html='';
			var json=eval(data);
			var template='<tr><td class="bs-checkbox"><input type="checkbox" name="btSelectItem" data-index="#@sid@#"></td><td>#@server_type@#</td><td>#@sid@#</td><td>#@server_name@#</td><td>#@service_ip@#</td><td>#@actived@#</td><td>#@server_version@#</td><td>#@port@#</td><td>#@playerNum@#</td><td>#@server_port@#</td><td>#@server_ip@#</td></tr>';
			for(var i=0;i<json.data.length;i++){
				html+=chtml(template,json.data[i]);
			}
			$('#rules_data').html(html);
			var pages=Math.ceil(json.total.counts/10);
			var s_page=num-2;
			var e_page=s_page+4;
			if (num==1){
				page_html+='<li class="page-number disabled"><a href="javascript:void(0)"><<</a></li>'
				page_html+='<li class="page-number disabled"><a href="javascript:void(0)"><</a></li>';
			}else{
				page_html+='<li class="page-number"><a href="javascript:pages(1)"><<</a></li>'
				page_html+='<li class="page-number"><a href="javascript:pages('+(num-1)+')"><</a></li>';
			}
			for (s_page;s_page<=pages;s_page++){
				if (s_page>0 && s_page<=e_page){
					if (s_page==num){
						page_html+='<li class="page-number active"><a href="javascript:pages('+s_page+')">'+s_page+'</a></li>';
					}else{
						page_html+='<li class="page-number"><a href="javascript:pages('+s_page+')">'+s_page+'</a></li>';
					}
				}
			}
			if (num==pages){
				page_html+='<li class="page-number disabled"><a href="javascript:void(0)">></a></li>'
				page_html+='<li class="page-number disabled"><a href="javascript:void(0)">>></a></li>';
			}else{
				page_html+='<li class="page-number"><a href="javascript:pages('+(num+1)+')">></a></li>'
				page_html+='<li class="page-number"><a href="javascript:pages('+pages+')">>></a></li>';
			}
			$('#pageui').html(page_html);
			var btSelectItem=document.getElementsByName("btSelectItem");
			for(var i=0;i<btSelectItem.length;i++){
				btSelectItem[i].onclick=function(){
					if (this.checked==false){
						$("#checkAll").prop('checked',false);
					}
				}
			}
		}
	});
}
function loading(){
    $('#rules_data').html('');
    $('#pageui').html(''); 
}
function chtml(template,data){
	var matchs=template.match(/#@([a-zA-Z0-9_]+)@#/gi);
	for(var i=0;i<matchs.length;i++){
		var matchss=matchs[i];
		matchss=matchss.replace(/#|@/gi,"");
		template=template.replace(matchs[i],data[matchss]);
	}
	return template;
}
$(function(){
	pages(1);
	<!--全选，全不选--!>
	$("#checkAll").click(function(){
		var flag = $(this).prop('checked');
		$("[name='btSelectItem']:checkbox").each(function(){
			$(this).prop('checked',flag);
		});
	});
	var btSelectItem=document.getElementsByName("btSelectItem");
	for (var i=0;i<btSelectItem.length;i++){
		btSelectItem[i].onclick=function(){
			if (!this.checked){
				$("#checkAll").prop('checked',false);
			}
		}
	}
	
	$('#active').click(function(){
        var chk_arr=[];
		$('input[name="btSelectItem"]:checked').each(function(){
			chk_arr.push($(this).attr("data-index"));
		});
		if (chk_arr.length==0){
			alert("请选择项目！");
		}
		$.ajax({
			type: "POST",
			url: "/actser",
			data: {data:chk_arr.join(",")},
			dataType: "json",
			success: function(data){
				var json=eval(data);
				if (json.stats==1){
					$('#myModal').modal('hide');
					$('#myModal').removeAttr("ids");
					pages(1);
				}else{
					alert("error");
				}
			}
		});
	});

	$('#reactive').click(function(){
        var chk_arr=[];
		$('input[name="btSelectItem"]:checked').each(function(){
			chk_arr.push($(this).attr("data-index"));
		});
		if (chk_arr.length==0){
			alert("请选择项目！");
		}
		$.ajax({
			type: "POST",
			url: "/reactser",
			data: {data:chk_arr.join(",")},
			dataType: "json",
			success: function(data){
				var json=eval(data);
				if (json.stats==1){
					$('#myModal').modal('hide');
					$('#myModal').removeAttr("ids");
					pages(1);
				}else{
					alert("error");
				}
			}
		});
	});
	
});
</script>