<h1 class="page-header">游戏服务器</h1>
<div class="table-responsive">
    <ul class="nav nav-tabs">
        <?php if (in_array($rules_kv['BattleServer-查看'],$rules)){ ?><li role="presentation" id="bs" class="active"><a href="javascript:gameserver('/sbs','bs')">BattleServer</a></li><?php } ?>
        <?php if (in_array($rules_kv['Server-查看'],$rules)){ ?><li role="presentation" id="ds"><a href="javascript:gameserver('/sds','ds')">Server</a></li><?php } ?>
        <?php if (in_array($rules_kv['Login-查看'],$rules)){ ?><li role="presentation" id="ls"><a href="javascript:gameserver('/sls','ls')">Login</a></li><?php } ?>
    </ul>
    <div style="padding-top:10px;" id="gameserver">
    </div>
</div>
<script>
function gameserver(urls,elm){
    $('#bs').removeClass();
    $('#ds').removeClass();
    $('#ls').removeClass();
    $("#"+elm).addClass("active");
    
	$.ajax({
		type: "POST",
		url: urls,
		data: "1",
		dataType: "html",
		success: function(data){
			$('#gameserver').html(data);
		}
	});
}
gameserver("/sbs","bs");

</script>
