<h1 class="page-header">奖励发放</h1>
<div class="table-responsive">
	<p>
		<!--<button class="btn btn-sm btn-default hide" type="button">Default</button>-->
		<?php if (in_array($rules_kv['奖励发放-添加'],$rules)){ ?><button class="btn btn-sm btn-primary" type="button" id="B_add">添加</button><?php } ?>
		<!--<button class="btn btn-sm btn-success hide" type="button">Success</button>-->
		<!--<button class="btn btn-sm btn-info hide" type="button">Info</button>-->
		<!--<button class="btn btn-sm btn-warning" type="button" id="B_update">修改</button>-->
		<!--<button class="btn btn-sm btn-danger" type="button" id="B_del">删除</button>-->
		<!--<button class="btn btn-sm btn-link hide" type="button">Link</button>-->
        <?php if (in_array($rules_kv['奖励发放-发放'],$rules)){ ?><button class="btn btn-sm btn-success" id="B_send" type="button">发放奖励</button><?php } ?>
    </p>
	<div class="hide" id="alert_all" role="alert">
	</div>
	<table class="table table-striped table-hover" style="background-color:#cccccc;">
    <thead>
    <tr>
	  <th>guid</th>
      <th>id</th>
	  <th>value</th>
	  <th>desc</th>
	  <th>操作</th>
    </tr>
    </thead>

    <tbody id="rules_data">
		<tr>
			<td>#@guid@#</td>
			<td>#@id@#</td>
			<td>#@value@#</td>
			<td>#@desc@#</td>
			<td>编辑</td>
		</tr>
    </tbody>
	</table>
</div>

<!--<nav class="text-left">
	<ul class="pagination" id="pageui">
		<li class="page-number disabled"><a href="javascript:void(0)"><<</a></li>
		<li class="page-number disabled" ><a href="javascript:void(0)"><</a></li>
		<li class="page-number active"><a href="javascript:void(0)">1</a></li>
		<li class="page-number"><a href="javascript:void(0)">2</a></li>
		<li class="page-number"><a href="javascript:void(0)">3</a></li>
		<li class="page-number"><a href="javascript:void(0)">4</a></li>
		<li class="page-number"><a href="javascript:void(0)">5</a></li>
		<li class="page-number"><a href="javascript:void(0)">></a></li>
		<li class="page-number"><a href="javascript:void(0)">>></a></li>
	</ul>
</nav>-->

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" id="myModalBody">
				11111
			</div>
			<div class="modal-footer">
				<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="do" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

			
<script>
select_data=JSON.parse(<?php echo $rewardsetting_data; ?>);
function selecthtml(a,id){
    
    if (typeof(a)=="undefined"){
        if (typeof(id)=="undefined"){
            var select_html='<select class="selectpicker">';
        }else{
            var select_html='<select id='+id+' class="selectpicker">';
        }
        for (i in select_data){
            select_html+="<option value='"+i+"'>name:"+select_data[i].name+",type:"+select_data[i].type+"</option>";
        }
        select_html+='</select>';
    }else{
        if (typeof(id)=="undefined"){
            var select_html='<select class="selectpicker">';
        }else{
            var select_html='<select id='+id+' class="selectpicker">';
        }
        for (i in select_data){
            if (i==a){
                select_html+="<option value='"+i+"' selected='selected'>name:"+select_data[i].name+",type:"+select_data[i].type+"</option>";
            }else{
                select_html+="<option value='"+i+"'>name:"+select_data[i].name+",type:"+select_data[i].type+"</option>";
            }
        }
        select_html+='</select>';
    }
    return select_html;
}

$('#B_add').click(function(){
	if (typeof(inputcount)=="undefined"){
		inputcount=0;
	}
	var tpl= {"guid":"","id":"","value":"","desc":""};
	var html=document.getElementById('rules_data').innerHTML;
	html+="<tr>";
	for (i in tpl){
        if (i=="id"){
            html+="<td>"+selecthtml('','new_'+i+inputcount)+"</td>";
        }else{
            html+="<td><input type='text' id='new_"+i+inputcount+"' value=''></td>";
        }
	}
	html+="<td><a href='#' onclick='javascript:saveC("+inputcount+",this);'>保存</a> | <a href='#' onclick='javascript:removeC(this);'>删除</a></td></tr>";
	document.getElementById('rules_data').innerHTML=html;
});

$('#B_send').click(function(){
	$('#myModalLabel').html("发放奖励");
	$('#myModalBody').html("");
	$('#myModalBody').load("/dataset/send_reward_show");
	$('#do').html("发放");
	$('#cancel').html("取消");
	$('#myModal').modal({backdrop: 'static', keyboard: false},"toggle");
	$('#myModal').attr("datatype","send");
});

function saveC(ids,elm){
	var tpl= {"guid":"","id":"","value":"","desc":""};
	var new_value1=new Object();
	for (i in tpl){
		new_value1[i]=document.getElementById("new_"+i+ids).value;
	}
	if (new_value1==""){
		alert("数据不能为空！");
		return ;
	}
	jsonvalue['global_reward'].push(new_value1);
	savedata();
	createHTML();
}
function removeC(elm){
	document.getElementById('rules_data').removeChild(elm.parentNode.parentNode);
}
function removedata(key){
	jsonvalue['global_reward'].splice(key,1);
	savedata();
	createHTML();
}
function editthis(key,td){
	td.parentNode.innerHTML='<?php if (in_array($rules_kv['奖励发放-修改'],$rules)){ ?><a href="#"  onclick="save(\''+key+'\',this);">保存</a> | <?php } ?><?php if (in_array($rules_kv['奖励发放-删除'],$rules)){ ?><a href="#" onclick="javascript:removedata(\''+key+'\');">删除</a> | <?php } ?><a href="#" onclick="javascript:createHTML();">取消</a>';
	
	var alltd=document.getElementById('rules_data').getElementsByTagName('tr')[key].getElementsByTagName('td');
	for (i in alltd){
		if (i<4){
            if (i==1){
                alltd[i].innerHTML=selecthtml(alltd[i].innerHTML,'e'+i+key);
            }else{
                alltd[i].innerHTML="<input type='text' id='e"+i+key+"' value='"+alltd[i].innerHTML+"' >";
            }
		}
	}
}
function save(key,td){
	var new_obj=new Object();
	var a=0;
	for (s in jsonvalue['global_reward'][key]){
		if (a<4){
			new_obj[s]=document.getElementById("e"+a+key).value;
			a++;
		}
	}
	delete jsonvalue['global_reward'][key];
	jsonvalue['global_reward'][key]=new_obj;
	savedata();
	createHTML();
}

function savedata(){
	$.ajax({
		type: "POST",
		url: "/dataset/set_reward",
		data: {"jsondata":JSON.stringify(jsonvalue)},
		dataType: "json",
		success: function(res){
			var json=eval(res);
			if (json.stats==1){
				$('#alert_all').html("保存成功！");
				$('#alert_all').removeClass().addClass("alert alert-success alert-dismissible");
			}else{
				$('#alert_all').html("保存失败！");
				$('#alert_all').removeClass().addClass("alert alert-danger alert-dismissible");
			}
		}
	});
}
$('#do').click(function(){
	var dataarr="";
	var ulrs="";
	switch($('#myModal').attr("datatype")){
		case "send":
            var name=$("#sendname").val();
            var type=$("#sendtype").val();
            var vals=$("#sendvalue").val();
			dataarr={"gmcmd":"reward","type":type,"value":vals,"name":name};
			urls="/launchserver";
		break;
		
	}
	$.ajax({
		type: "POST",
		url: urls,
		data: dataarr,
		dataType: "json",
		success: function(data){
			var json=eval(data);
			if (json.ret==1){
				$('#myModal').modal('hide');
				$('#myModal').removeAttr("ids");
			}else{
				alert("error");
			}
		}
	});
});

function createHTML(){
	var html='';
	
	for (var i=0;i<jsonvalue['global_reward'].length;i++){
		html+='<tr>';
		html+='<td>'+jsonvalue['global_reward'][i].guid+'</td>';
		html+='<td>'+jsonvalue['global_reward'][i].id+'</td>';
		html+='<td>'+jsonvalue['global_reward'][i].value+'</td>';
		html+='<td>'+jsonvalue['global_reward'][i].desc+'</td>';
		html+='<td><?php if (in_array($rules_kv['奖励发放-修改'],$rules)){ ?><a href="#"  onclick="editthis(\''+i+'\',this);">编辑</a><?php } ?></td>';
		html+='</tr>';
	}
	$("#rules_data").html(html);
}

$.ajax({
	type: "POST",
	url: "/dataset/get_reward",
	data: {"a":0},
	dataType: "json",
	async:false,
	success: function(res){
		result=eval(res);
		jsonvalue=$.parseJSON(result.data[0].jsondata);
		createHTML();
	}
});
</script>