<div role="alert" id="tips" class="alert alert-danger hide">
	<strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>
<form class="form-horizontal">
<div class="form-group" id="oldpass_group">
	<label for="oldpass" class="col-sm-3 control-label text-right">请输入原始密码:</label>
	<div class="col-sm-9">
		<input type="password" id="oldpass" class="form-control has-error" placeholder="old password">
	</div>
</div>
<div class="form-group" id="newpass_group">
	<label for="newpass" class="col-sm-3 control-label text-right">请输入新密码:</label>
	<div class="col-sm-9">
		<input type="password" id="newpass" class="form-control has-error" placeholder="new password">
	</div>
</div>
<div class="form-group"  id="confirm_newpass_group">
	<label for="confirm_newpass" class="col-sm-3 control-label text-right">请再次确认新密码:</label>
	<div class="col-sm-9">
		<input type="password" id="confirm_newpass" class="form-control has-error" placeholder="confirm new password">
	</div>
</div>
</form>
